/*common_styles_for whole_body*/
.page {
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    background-color: #787878;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*overflow-x: hidden;*/

    max-width: 100%;
    width: 100%;

    max-height: 100%;
    height: 100%;
}

*{
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
 a,h1,h2,h3,h4,h5,h6 {
    margin: 0;
 }
 p {
    margin: 0;
 }
ul,li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/*/common_styles_for whole_body*/
/*header*/


.page-header__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555555 ;
}

.container-header {
    max-width: 1440px;
    width: 100%;
    height: 40px;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo-title {
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
}
    .title-letter {
        color: #FFCA79 ;
    }
.header-nav {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item {
 width: fit-content;
 list-style-type: none;
 border-bottom: 0px solid #FFCA79;
 transition: all .5s ease;
}


.list-item:hover {
  border-bottom: 0.5px #FFCA79 solid;
}



.item-link {
 font-size: 15px;
 text-decoration: none;
 color: #fff;
 text-transform: capitalize;
}

.link-word {
  text-transform: none;
}


/*main*/

.page-container {
    max-width: 1440px;
    width: 100%;
    background-color: #787878;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px 20px 0 20px;

}


/*contacts_section*/
.container-contacts {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start ;
  
  border-bottom: 0.5px #FFCA79 solid;
}

.contacts-photo__wrapper {
    width: 15%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contacts {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center ;
    gap: 10px;

}

.contacts-title__container {
    width: 100%;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contacts-title {
    font-size: 26px;
    font-weight: 400;
    text-transform: capitalize;
}

.contacts-info {
    width: 100%;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.info {
 font-size: 15px;
 font-weight: 400;
 text-transform: capitalize;
 font-weight: 400;
}

.surname {
    color: #FFCA79;
}
.transform-none{
    text-transform: none;
} 

/*About_me container*/
.container-about_me {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 20px 0 0 0;
    gap: 8px;

    border-bottom: 0.5px #FFCA79 solid;
} 

.about_me-title {
    font-size: 26px;
    font-weight: 400;
    text-transform: capitalize;
}

.about_me-article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    text-indent: 20px;
    line-height: 1.5;
}

/*rograming languages*/

.container-prog_languages{
width: 100%;
min-height: 250px;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;

padding: 20px 0 0 0;

gap: 8px;

border-bottom: 0.5px #FFCA79 solid;
}

.language-title__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages-title {
    font-size: 26px;
    font-weight: 400;
    text-transform: capitalize;
}


.languages-img__wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;   
}

.img-wrapper {
    width: 85px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.img-title {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.img-title__js, .img-title__ts, .word{
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}
/*expirience*/
.container-work_exp {
 width:100%;
 min-height: 250px;
 
 display: flex;
 flex-direction: column;
 justify-content: start;
 align-items: center;

 padding: 20px 0 0 0;

 gap: 8px;

border-bottom: 0.5px #FFCA79 solid;
}

.work_exp-title__wrapper {
 width: 100%;
 
 display: flex;
 flex-direction: column;
 justify-content: start;
 align-items: center;
}

.exp-title {
 font-size: 26px;
 font-weight: 400;
 text-transform: capitalize;
}

.exp-list {
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: start;
}

.item-link_exp {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.list-item__exp {
  transition: all .5s ease;
}

.list-item__exp:hover {
    border-bottom: 0.5px #FFCA79 solid;
}

/*code example*/

